/* cleanup */

.large_tile {
  height: 525px
}
.basic_tile {
  background-color: #6C46D60D;
  /* background-color: #F5F5F5; */
  color: #6C46D6;
  width: 100%;
  border-radius: 4px;
  padding: 40px;
}

.button_inactive {
  text-transform: none !important;
  color: #F5F5F533 !important;
  border-radius: 8px !important;
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 19px !important;
  text-align: center !important;
  width: 100%;
  white-space: nowrap !important;
}

.button_active {
  background-color: #6C46D6 !important;
  color: #F5F5F5 !important;
}

.tile_header {
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  letter-spacing: 0.02em !important;
  white-space: nowrap;
}

.tile_data {
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 32px !important;
  line-height: 39px;
  color: #F5F5F5 !important;
}

.info_data {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 120%;
}



.mini_button{
  color: #F5F5F5 !important;
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  letter-spacing: 0.02em !important;
  white-space: nowrap !important;
  padding: 0px 0px 0px 0px !important;
  border: none !important;
  background: #6C46D60D;
  text-transform: capitalize !important;
  /* width: 10px!important; */
}

.mini_button_selected {
  color: #6C46D6 !important;
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  letter-spacing: 0.02em !important;
  white-space: nowrap;
  text-decoration: underline !important;
}


.test {
  width: 100%;
  padding: 0px;
  /* background: red */
}

.ButtonContainer {
  justify-content: space-evenly;
  background-color: #F5F5F50D;
  border-radius: 16px;
  padding: 7.5px;
}


.Button {
  color: #F5F5F51A !important;
  border-radius: 8px !important;
  width: 100%;
}

.ButtonSelected {
  background-color: #6C46D6 !important;
  color: #F5F5F5 !important;
}

.ToolTip {
  justify-content: center;
  background-color: #F5F5F50D;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  /* text-align: center;
  color: white; */
}

.ToolTipSpace {
  width: '100%';
  height: 75px;
  /* text-align: center;
  color: white; */
}

.Container {
  width: 840px;
  /* background: blue */
}

.label1 {
  text-align: left;
  color: white;
  color: #F5F5F5 !important;
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  letter-spacing: 0.02em !important;
  white-space: nowrap !important;
  padding: 0px 0px 0px 0px !important;
  border: none !important;
  text-transform: capitalize !important;
}



/* Style the button */
/* .expandbtn {
  display: inline-block;
  margin-top: 12px;
  padding: 5px 11px;
  background-color: #ff7;
  border: 1px solid;
  border-radius: 3px;
}

/* Style the button when the checkbox is checked */
/* .expandtoggle:checked ~ .expandbtn {
  background-color: #ccc ;
} */

/* .MuiChip-root{
  color: #F5F5F5 !important;
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  letter-spacing: 0.02em !important;
  white-space: nowrap;
  padding: 0 !important;
  border: none !important;
  background: none !important;
  align-items: top !important;
} */
