.container {
  width: "100%";
  height: 30rem;
  backGroundColor: blue;
  border-color: green;
  border: 1rem 1rem 1rem 1rem;
}

.panel {
  width: "100%";
  height: 10rem;
  justify-content: center;
}

.bottom {
  margin-top: auto;
}
