/* cleanup */

.basic_tile {
  background-color: #6C46D60D;
  /* background-color: #F5F5F5; */
  color: #6C46D6;
  width: 100%;
  border-radius: 4px;
  padding: 25px;
}

.stack {
  justify-content: space-evenly;
  width: 100%;
}

.button_inactive {
  text-transform: none !important;
  color: #F5F5F533 !important;
  border-radius: 8px !important;
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 19px !important;
  text-align: center !important;
  width: 100%;
}

.button_active {
  background-color: #6C46D6 !important;
  color: #F5F5F5 !important;
}


.group {
  justify-content: space-evenly;
  background-color: #F5F5F50D;
  border-radius: 16px;
  padding: 7.5px;
}

.tile_header {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
}

.tile_data {
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 32px !important;
  line-height: 39px;
  color: #F5F5F5 !important;
}

.info_data {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 120%;
}
.test {
  color: linear-gradient(#F5F5F5, #9198e5);
  /* background-color: white; */
}

/* border: 2px solid white; */
